
  <section class="ftco-section-featured ftco-animate">
    <div class="container-fluid" data-scrollax-parent="true">
      <div class="row no-gutters d-flex align-items-center" data-scrollax=" properties: { translateY: '-30%'}">
        <div class="col-md-3 mb-3">
          <a href="#" class="featured-img">
              <div class="text-1 p-4 d-flex align-items-center">
                <h3>Stay hungry stay foolish<br><span class="tag">^_^</span></h3>
              </div>
              <%= image_tag(image_url("logo1.gif"),class:"img-fluid")%>
              <div class="text p-4 d-flex align-items-center">
                <div class="user d-flex align-items-center">
                  <div class="user-img mr-3" style="background-image: url(images/person_1.jpg);"></div>
                  <h3>Nguyen Thanh An <br><span class="position">Developer</span></h3>
                </div>
              </div>
            </a>
        </div>
          
        <div class="col-md-6">
          <div class="row no-gutters">
            <div class="col-md-12">
                <div class="row no-gutters d-flex align-items-end">
                  <div class="col-md-8">
                    <a href="#" class="featured-img">
                      <div class="text-1 p-4 d-flex align-items-center">
                        <h3>When you think it’s too late, the truth is, it’s still early</h3>
                      </div>
                      <%= image_tag(image_url("header-helper-2.jpg"),class:"img-fluid")%>
                      <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                          <div class="user-img mr-3" style="background-image: url(images/person_1.jpg);"></div>
                          <h3>John Bruce <br><span class="position">Designer</span></h3>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-4">
                    <a href="#" class="featured-img">
                      <div class="text-1 p-4 d-flex align-items-center">
                        <h3>Studying is not about time. It’s about effort.</h3>
                      </div>
                      <%= image_tag(image_url("header-helper-3.jpg"),class:"img-fluid")%>
                      <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                          <div class="user-img mr-3" style="background-image: url();"></div>
                          <h3>Thanh Huyen</h3>
                        </div>
                      </div>
                    </a>
                  </div>
                  
                </div>
            </div>

            <div class="col-md-12">
              <div class="row no-gutters d-flex align-items-start">
                  <div class="col-md-8">
                    <a href="#" class="featured-img">
                      <div class="text-1 p-4 d-flex align-items-center">
                        <h3>If you don’t walk today, you’ll have to run tomorrow.</h3>
                      </div>
                      <%= image_tag(image_url("header-helper-4.jpg"),class:"img-fluid")%>
                      <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                          <div class="user-img mr-3" style="background-image: url();"></div>
                          <h3>Hoang Linh</span></h3>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="#" class="featured-img">
                      <div class="text-1 p-4 d-flex align-items-center">
                        <h3>When today is over, it will never come back.</h3>
                      </div>
                      <%= image_tag(image_url("header-helper-5.jpg"),class:"img-fluid")%>
                      <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                          <div class="user-img mr-3" style="background-image: url();"></div>
                          <h3>Quang Tran</span></h3>
                        </div>
                      </div>
                    </a>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
            <a href="#" class="featured-img">
              <div class="text-1 p-4 d-flex align-items-center">
                <h3>Success only comes with self-management and determination</h3>
              </div>
               <%= image_tag(image_url("header-helper-6.jpg"),class:"img-fluid")%>
              <div class="text p-4 d-flex align-items-center">
                <div class="user d-flex align-items-center">
                  <div class="user-img mr-3" style="background-image: url(images/person_1.jpg);"></div>
                  <h3>Hook Alice</h3>
                </div>
              </div>
            </a>
        </div>

      </div>
    </div>
  </section>
