<% provide(:title, "Log in") %>
  
<div class="row d-flex justify-content-center flex-column align-items-center">
        <h1>Log in</h1>
        <div class="col-md-6">
            <%= form_for(:session, url: login_path) do |f| %> 
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %> 
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control mb-2' %> 
                <%= f.label :remember_me, class: "checkbox inline mb-2" do%>
                    <%= f.check_box :remember_me %>
                    <span>Remember me on this computer</span>
                <% end %>
                <%= f.submit "Log in", class: "btn btn-primary m-auto d-block" %>
            <% end %>
        <p>New user? <%= link_to "Sign up now!", signup_path %></p> 
        <%=link_to image_tag("lgfb.png", border: 0, width:200), user_facebook_omniauth_authorize_path %>
        <%=link_to image_tag("lggg.jpg", border: 0, width:200), user_google_oauth2_omniauth_authorize_path %>
        </div>
</div>