<div class="col-md-3 mt-4"> 
        <div class="card">
            <div class="card-header">
                    <%= image_tag(avatar_url(@user), class:"img-user")%>
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= @user.name %></h5>
                <div id="followInfor">
                    <%=render 'followInfor'%>
                </div>                
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <%=@user.courses.count%> created courses
                    <%= link_to("create new course", new_course_path, 
                    class: "btn btn-primary m-auto d-block") if current_user?(@user) %>
                </li>
               
                <li class="list-group-item">
                    <a href="<%=studiedWords_user_path%>">
                    <%=@studys.count%> studied Words
                    </a>
                </li>

                <li class="list-group-item">
                  <a href="<%=joinedCourses_user_path%>">
                    <%=@joins.count%> joined courses
                  </a>
                </li>
               
            </ul>
        </div>        
    </div>