<div class="col-md-3 mt-4"> 
        <div class="card">
            <div class="card-header">
                    <%= image_tag(avatar_url(@user), class:"img-user")%>
            </div>
            
            <div class="card-body">
                <h5 class="card-title"><%= @user.name %></h5>
                <div id="followInfor">
                    <%=render 'followInfor'%>
                </div>                
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item" id="createdCourseNumber">
                <%=render 'users/userInforAction/createdCourseNumber'%>
                </li>
               
                <li class="list-group-item" id="studiedWordsNumber">
                <%=render 'users/userInforAction/studiedWordsNumber'%>
                </li>
                
                <li class="list-group-item" id="joinedCoursesNumber">
                    <%=render 'users/userInforAction/joinedCoursesNumber'%>
                </li>  
            </ul>
        </div>        
    </div>