<% provide(:title, @user.name) %> 
<% 
if current_user_by_params? 
    nameOfCreatedCourse = "Your Course"
else
    nameOfCreatedCourse = @user.name + "'s Course"
end
%>
<div class="row">
    <%= render 'userInforAction'%>

    <div class="col-md-9">
    <% if @user.courses.any? %>
        
        <h3><%=nameOfCreatedCourse%> : <%= @user.courses.count %></h3>
      
        <div class="container-fluid">
            <div class="row">
                <%= render @courses %>
            </div>
        </div>

        <%= will_paginate @courses, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
    <% end %>
    </div>
</div>

<%=render 'shared/modal'%>