<!DOCTYPE html>
<html>
  <head>
    <title>ElearningApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--<script src="https://js.pusher.com/4.1/pusher.min.js"></script>-->
    <script>
    Pusher.logToConsole = true;
    if(!pusher){
      var pusher = new Pusher(
      '1e12ba03bedaf5787000',
      {
        cluster: 'ap1',
        encrypted: true,
        authEndpoint: '/chats/auth',
        auth: {
          headers: {
            'X-CSRF-Token': "<%= form_authenticity_token %>"
          }
        }
      }
    );
    }
    <%if logged_in? %>
      var privateChannel = pusher.subscribe(`user-<%=current_user.name%>`)
      privateChannel.bind('new-join-course',function(data){
        alert(`${data.user_name} joinded course ${data.course_name}`)
      })
      privateChannel.bind('follow',function(data){
        alert(`${data.user_name} have just followed you`)
      })
    <%end%>
    </script>
  </head>

  <body>
    <%= render 'layouts/static/header' %>

    <div class="hero-wrap js-fullheight" style="height: 601px;">
      <div class="overlay"></div>
      <div id="particles-js"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
              Learning language 
              <strong>Easy</strong> 
              
            </h1>
            <%unless logged_in? %>
              <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                <%=link_to "Start", login_path, class:"btn btn-primary btn-outline-white px-5 py-3"%>
              </p>
            <%end%>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="container-fluid bg-light" style="z-index:100">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> text-center"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
    
    <%= render 'layouts/static/footer' %>
    <%= javascript_pack_tag 'main'%>
  </body>
</html>
