<%# app/views/chats/index.html.erb %>
<div class="container-fluid">
  <div class="row" style="height:100vh">
    <div class="col-md-2 border border-danger bg-user-online d-flex flex-column">
      <div><span class="update_member_count">0</span> people online</div>
      <div class="online-user d-flex flex-column"></div>
    </div>
    <div class="col-md-10 border border-danger">
      <div class="chat-box">
        <%@chats.each do |chat| %>
          <div>
            <%= chat.username %> : <%= chat.message %>
          </div>  
        <%end%>
      </div>
    
      <%= form_with(model: @chat, remote: true, format: :json, 
          id: 'chat-form') do |form| %>
            <%= form.text_field :message, id: :message, 
              class: "form-control", required: true %>
            <%= form.hidden_field :username, value: current_user.name%>
      <% end %>

    </div>
  </div>


<script>
$(document).ready(function() {

  let updateChat = (data) => {
    $('.chat-box').append(`
          <div>
            ${data.username} : ${data.message}
          </div>
    `);
  };

  $('#chat-form').on('ajax:success', data => {
    $('#chat-form')[0].reset();
  });

  //  real time
  // Pusher.logToConsole = true;
  // let pusher = new Pusher(
  //   '1e12ba03bedaf5787000',
  //   {
  //     cluster: 'ap1',
  //     encrypted: true,
  //     authEndpoint: '/chats/auth',
  //     auth: {
  //        headers: {
  //         'X-CSRF-Token': "<%= form_authenticity_token %>"
  //       }
  //     }
  //   }
  // );

  var presenceUser = pusher.subscribe('presence-user')
  let update_member_count = (count) => {
    $('.update_member_count').text(count)
  }

  let add_member = (id,info,you=false) => {
    console.log("you",you)
    if (you) {
      info.name+=" (you) "
    }
    $('.online-user').append(`
    <div class="d-flex align-items-center" id="online-user-${id}">
        <img class="image-status-online" src="${info.image}">
        <div class="flex-grow-1">${info.name}</div>
        <div class="status-online"></div>
      </div>
    `)
  }
  let remove_member = (id,info)=>{
    $(`#online-user-${id}`).remove()
  }

  presenceUser.bind("pusher:subscription_succeeded",function(members){
      update_member_count(members.count);
      $('.online-user').empty()
      members.each(function(member) {
        add_member(member.id, member.info,
          member.info==members.me.info? true : false)
      });
    }
  );

  presenceUser.bind("pusher:member_added",function(member){
      update_member_count(presenceUser.members.count);
      add_member(member.id, member.info)
    }
  );
  presenceUser.bind("pusher:member_removed",function(member){
      update_member_count(presenceUser.members.count);
      remove_member(member.id, member.info)
    }
  );

  presenceUser.bind('chat-all', data => {
    updateChat(data);
  });

  // pusher.connection.bind('connected', function () {
  //   var socket_id = pusher.connection.socket_id; 
  //   $('#socket_id').text(socket_id);
  // });

});
</script>

