<div id="lesson-<%=lesson.id%>">
<a href="<%= lesson_path(lesson.id)%>" class="linkLessionOfList" data-turbolinks="false">
    <% if lesson.picture?%>
        <%= image_tag(lesson.picture.url) %>
    <% elsif%>
        <%= image_tag("default_img.png") %>
    <% end %>
    <h4>
        <%= lesson.name %>
    </h4>
    <div>
        <%=lesson.words.count %> words
    </div>
</a>
<div>
    <%= link_to("Delete", "/lessons/#{lesson.id}", 
      class:"btn btn-danger", 
      method: "delete", 
      remote: true,
      data: { confirm: 'Are you sure?' }) if current_user? lesson.course.user %>
</div>
</div>

