<% @length = @words.length %>
<% language=@words[0].lessons[0].course.course_category.name%>
<div id="current_user_id" style="display:none"><%=session[:user_id]%></div>

<% def randomArray(pos)
  @kq=[@words[pos].meaning]
  3.times{ 
    meaning = @words[0].meaning
    while @kq.include? meaning
      meaning = @words[rand(@length-1)].meaning
    end
    @kq << meaning 
  }
  @kq.shuffle!
end
%>

<% def answer(pos,randomArray)
  arr=[]
  randomArray.each do |element|
    arr << (@words[pos].meaning==element)
  end
  arr
end
%>

<div id="carousel-test-1" class="p-2 carousel slide" 
style="max-width: 800px; margin: auto;position:relative;color:black">

  <div id="alert-message-from-server"></div>
  <div class="text-center mb-3">
    <div class="bg-info p-2 rounded d-inline ml-2">
      cau <span id="current-active">0</span>/<%=@length%>
    </div>
    <div class="bg-info p-2 rounded d-inline ml-2">
      <span id="current-false">0</span> Sai / 
      <span id="current-true">0</span> Đúng /
      <span id="current-miss">0</span> Chưa trả lời
    </div>
  </div>
  
  <div class="w-75 m-auto  mb-2 d-flex align-items-center">
    <div id="pro-test1-second">
      6s
    </div>
    <div class="progress flex-grow-1 ml-2">
      <div id="pro-test1" class="progress-bar bg-info" role="progressbar" 
        style="width: 100%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="6000"></div>
      </div>  
    </div>

  <div class="carousel-inner">

    <% @words.each_with_index.map do |word,index| %>
      <% if index==0 
          active="active" 
        else 
          active="" 
        end 
      %>
     <% choices=randomArray(index)%>
      <% answer=answer(index,choices)%>

      <div class="carousel-item <%=active%>" position=<%=index%>>
        <div class="d-flex flex-column align-items-center">

          <figure class="figure" style="max-width: 360px">
            <% if word.picture?%>
              <%= image_tag(word.picture.url, class:"img-thumbnail w-100 figure-img img-fluid rounded", style:"height:250px")%>
            <% else %>
              <%= image_tag("default_img.png", class:"img-thumbnail w-100 figure-img img-fluid rounded")%>
            <% end %>
            <figcaption class="figure-caption text-center">
              <h2 class="text-center active-word" language=<%=language%> id=<%=word.id%>>
                <%=word.word%>
              </h2>
            </figcaption>
          </figure>
          
          <div class="container">
            <div class="row">
                <div class="col-6" style="padding:0!important">
                  <div class="<%=answer[0]%> cursor p-3 m-2 text-center bg-1 rounded choices" >
                    <%=choices[0]%>
                  </div>
                </div>

                <div class="col-6" style="padding:0!important">
                  <div class="<%=answer[1]%> cursor p-3 m-2 text-center bg-1 rounded choices">
                    <%=choices[1]%>
                  </div>
                </div>
            </div>

            <div class="row">
              <div class="col-6" style="padding:0!important">
                <div class="<%=answer[2]%> cursor p-3 m-2 text-center bg-1 rounded choices">
                  <%=choices[2]%>
                </div>
              </div>
              <div class="col-6" style="padding:0!important">
                <div class="<%=answer[3]%> cursor p-3 m-2 text-center bg-1 rounded choices">
                  <%=choices[3]%>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    <% end %>

  </div>
  
</div>

<%=render 'shared/modal'%>
<script>
  //window.location.reload();
  $(document).ready(function(){
    $("html, body").animate({ scrollTop: $(document).height() }, 1000);
  });
</script>
<!--<%= javascript_pack_tag 'test1' %>-->