<%
  language= word.lessons.present? ? word.lessons[0].course.course_category.name : "English"
%>
<%unless request.url.include? "flashcard"%>
<div id="word-<%=word.id%>">
  <div><%=word.word%></div>
  <div><%=word.meaning%></div>
  <%if word.picture? %>
    <%= image_tag(word.picture.url)%>
  <%else%>
    <%= image_tag("default_img.png")%>
  <%end%>
  <%if logged_in?%>
  <%= link_to("Delete", "/words/#{word.id}", 
      class:"btn btn-danger", 
      method: "delete", 
      remote: true,
      data: { confirm: 'Are you sure?' }) if isAdmin? %>
  <%end%>
  <svg word="<%=word.word%>" language=<%=language%> 
    width="32px" height="32px" viewBox="0 0 16 16" 
    class="bi bi-volume-up lessonSpeaker" 
    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zM6 5.04L4.312 6.39A.5.5 0 0 1 4 6.5H2v3h2a.5.5 0 0 1 .312.11L6 10.96V5.04z"/>
      <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
      <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
  </svg>
</div>
<%else%>
  <%pos=word_counter+1%>
  <% if pos==1 
      active="active" 
    else 
      active="" 
    end 
  %>
  <div class="carousel-item <%=active%>" position=<%=pos%>>
    <div style="display:flex; justify-content:center; flex-direction:column; align-items:center">
      <div class="card align-items-center justify-content-center">

      <div class="back-flashcard fadeout w-100 h-100">
        <%if word.picture? %>
          <%= image_tag(word.picture.url, class:"image-flashcard",
          style:"width: 418px;height: 314px")%>
        <%else%>
          <%= image_tag("default_img.png", class:"image-flashcard",
          style:"width: 418px;height: 314px")%>
        <%end%>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%=word.word%></li>
          <li class="list-group-item"><%=word.meaning%></li>
        </ul>
      </div>

      <div class="front-flashcard w-100 h-100">
        <div class="d-flex justify-content-center align-items-center h-100">
          <h2 language=<%=language%>><%=word.word%></h2>
        </div>  
      </div>

      </div>

      <button class="flashcard_remember_active_word btn btn-primary d-block m-auto" 
      state=<%=@studies.include? word.id%> word_id=<%=word.id%>>
      <%=if logged_in? 
          if @studies.include? word.id
            "state : Remembered"
          else
            "state : Not remember"
          end
        end
      %>
      </button>

    </div>
    
  </div>
<%end%>
