
  <div class="d-flex flex-column justify-content-center align-items-center ">

    <div class="d-flex justify-content-center align-items-center">
        <a class="btn btn-warning mr-2" data-toggle="collapse" href="#collapse-filter-word" role="button" aria-expanded="false" aria-controls="collapseExample">
          Filter
        </a>
        <a class="btn btn-warning mr-2" data-toggle="collapse" href="#collapse-search-word" role="button" aria-expanded="false" aria-controls="collapseExample">
          Search
        </a>
      <%if logged_in? %>
        <%if isAdmin?%>
          <a class="btn btn-warning" data-toggle="collapse" href="#collapse-import-word" role="button" aria-expanded="false" aria-controls="collapseExample">
            Import word
          </a>
        <%end%>
      <%end%>
    </div>

    <div class="collapse" id="collapse-import-word">
      <div class="card card-body">
        <%=form_tag importFromFile_words_path, multipart: true do %>
          <%=file_field_tag :file, class:"btn border-primary"%>
          <%=select("","course_category_id", CourseCategory.all.collect{|p| [p.name,p.id]},{}, class:"btn border-primary")%>
          <%=submit_tag "Import", class: "btn btn-primary"%>
        <%end%>
      </div>
    </div>

    <div class="collapse" id="collapse-search-word">
      <div class="card card-body">
      <%= search_form_for @q do |f| %>
        <%= f.label :word_start%>
        <%= f.search_field :word_start, 
        class:"btn border-primary text-left", 
        data_behavior: :autocomplete
        %>
        <%= f.submit "Search",class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>

    <div class="collapse" id="collapse-filter-word">
      <div class="card card-body">
          <%= form_tag words_path, method: :get, class:"d-flex justify-content-center align-items-center" do %>
            <%=select_tag "sort", options_for_select([["ascending","ASC"],["descending","DESC"]]), class:"btn border-primary"%>
            <%=select_tag "type", 
            options_for_select(CourseCategory.all.collect{|p| [ p.name, p.id ] }<< ["all type",0],["all type",0]),
            class:"btn border-primary"
            %>
            <%=select_tag "stateWord", 
              options_for_select([["all",0],["remembered",1],["not learn",2]]), class:"btn border-primary" if logged_in?%>
            <%= submit_tag "filter", class:"btn btn-primary" %>
          <% end %>
      </div>
    </div>

  </div>

<%= render 'search/form'%>
<div class="lessonShowWord">
  <%= render @words %>
</div>

<div style="margin: 10px auto">
  <%=paginate @words,theme: 'twitter-bootstrap-4' %>  
</div>

<!--remote: true, data_type: 'script'  onchange: "this.form.submit()"-->

<!--<script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
<script>
</script>