<%@course=course%>
<div id="course-<%= course.id %>" class="col-4 mb-3">

    <div class="card h-100">
        <% if course.picture?%>
            <%= image_tag(course.picture.url, class: "card-img-top") %>
        <% elsif%>
            <%= image_tag("default_img.png", class: "card-img-top") %>
        <% end %>

        <div class="card-body">
            <h5 class="card-title"><%= course.name %></h5>
            <p class="card-text"> Created at : <%= time_ago_in_words(course.created_at) %> ago.</p>
            <div class="d-flex">
            
                <!--if is owner of course, show delete button-->
                <% if current_user? @user %>
                    <%= link_to("Delete", course_delete_path(course_id: course.id), 
                        class:"btn btn-danger", 
                        method: "delete", 
                        data: { confirm: 'Are you sure?' }) %>
                    <%= link_to("Study", course_path(@course.id), class: "btn btn-primary") %>
                <%else%>
                    <div id="joinCourse-<%=course.id%>">
                        <%if (Join.find_by(course_id: course.id, user_id: current_user.id).blank?) %>
                            <%=render 'users/join'%>
                        <%else%>
                                <%=render 'users/unjoin'%>
                        <%end%>
                    </div>
                <%end%>
            </div>
          

            
        </div>
    </div>
</div>
<!--have variable course, 
need pass to join and unjoin, need @course=course, 
in join and unjoin call by @course-->


 

