<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="<%=root_path%>">
      <%= image_tag(image_url("logo1.gif"),
        style:"width: 135px;height: 50px;margin: 0px!important;display:none")%>
      Language easy
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to "Home",  home_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Words", words_path, class:"nav-link", data: { turbolinks: "false" } %>
        </li>
        <li class="nav-item">
          <%= link_to "Courses", courses_path, class:"nav-link" %>  
        </li>
        <% if logged_in? %>    
          <li class="nav-item">
            <%= link_to "People", users_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Chat", chats_index_path, class:"nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="portfolio.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%=current_user.name%>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <%= link_to "My Profile",  user_path(current_user), class:"dropdown-item" %>
              <%= link_to "Update Info", edit_user_path(current_user.id), class:"dropdown-item" %>
              <%= link_to "Logout",  logout_path, class:"dropdown-item", method: "delete" %>
            </div>
          </li>        
        <%else%>
          <li class="nav-item cta">
            <%=link_to "Log in", login_path, class:"nav-link"%>
          </li>    
        <%end%>        
    </ul>
  </div>
  
</nav>