<!DOCTYPE html>
<html>
  <head>
    <title>ElearningApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--<script src="https://js.pusher.com/4.1/pusher.min.js"></script>-->
    <script>
    Pusher.logToConsole = true;
    if(!pusher){
      var pusher = new Pusher(
      '1e12ba03bedaf5787000',
      {
        cluster: 'ap1',
        encrypted: true,
        authEndpoint: '/chats/auth',
        auth: {
          headers: {
            'X-CSRF-Token': "<%= form_authenticity_token %>"
          }
        }
      }
    );
    }
    <%if logged_in? %>
      var privateChannel = pusher.subscribe(`user-<%=current_user.name%>`)
      privateChannel.bind('new-join-course',function(data){
        alert(`${data.user_name} joinded course ${data.course_name}`)
      })
      privateChannel.bind('follow',function(data){
        alert(`${data.user_name} have just followed you`)
      })
    <%end%>
    </script>
  </head>

  <body style="background-color:black;">
    <%= render 'layouts/header' %>
      <!-- <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>-->
    
      <div class="container-fluid" style="padding-top: 15px;
        padding-bottom:15px;
       background-color:cornflowerblue">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %> text-center"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    
    
     
  </body>
</html>
